logs/
*.log
*.pid
tmp/
*.tmp
*.class
*.jar
*.war
/build/
/target/
.project
.classpath
.settings/
.idea/
*.iml
*.iws
out/
/.mvn/
/target/
webdriver.log
.env
ConfigFile.properties
/test-output/
*.json

